body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%; 
  background-image: url("cheers-.jpg");
}
header, h2, h3, form {
  text-align: center
}

fieldset {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

legend {
  font-size: 200%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.login-page {
  display: block; 
  background-color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.new-account-page {
  background-color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


h2 {
  padding-top: 20px;
}

label, input {
  font-size: 150%;
}

button {
  background-color: #04befe;
  border: 5px solid #04befe;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #0157ae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.js-add-new-wine, .js-create-account-form {
  display: none;
}