body {
  font-family: 'Fira Sans', sans-serif;
  height: 100%; 
  background-image: url("glasses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header, h1, h2, h3, form {
  text-align: center;
}

header {
  color: #FFFFFF
}

.back {
  float: left;
  margin-left: 30px;
  color: #FFFFFF
}

fieldset {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

legend {
  font-size: 200%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.block-item {
  display: block; 
  background-color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

.create-account-form, .add-new-wine, .js-full-review {
  padding-top: 10px;
  padding-bottom: 10px
}

.edit-title {
  width: 250px;
}

.edit-text {
  width: 250px;
  height: 150px;
}

h2 {
  padding-top: 20px;
}

.home-options {
  padding-top: 10px;
  padding-bottom: 10px
}

button {
  color: #FFFFFF;
  background-color: #7F4145;
  border: 5px solid #7F4145;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6pt;
}

.delete {
  background-color: #ff0000;
  border: 5px solid #ff0000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6pt;

}

input {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

a:link {
  color: #0157ae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.add-new-wine, .create-account-form, .home-screen, .js-full-review, .edit-review, .edit-wine {
  display: none;
}