body {
  font-family: 'Fira Sans', sans-serif;
}
header {
  text-align: center;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

fieldset {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto
}

legend {
  font-size: 200%;
  margin-bottom: 25px;
  margin-top: 25px;
}

label, input {
  font-size: 150%;
}

button {
  background-color: #04befe;
  border: 5px solid #04befe;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-left: auto;
  margin-right: auto;
}

.js-add-new-wine, .js-create-account-form {
  display: none;
}